<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Lonely Planet</title>

  <link rel='stylesheet' type='text/css' href='/stylesheets/all.css'/>


        
        
        
</head>

<body>

  <div id="container">
    <div class="message-wrapper">
      <div style="overflow: visible; opacity: 1; display: none;" class="flash-messages " id="flash-messages"></div>
    </div>
    <div id="header">
      <div id="logo"></div>
      <h1>Lonely Planet: <%= @destination.destination %> </h1>
    </div>    

  <div id="wrapper">

  <div id="sidebar">
    <div class="block">
      <h3>Navigation</h3>
      <div class="content">
        <div class="inner">
          HIERARCHY NAVIGATION GOES HERE
          <%= @links %>
        </div>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="block">
      <div class="secondary-navigation">
        <ul>
          <li class="first"><a href="http://atlas.devint.lpo/ui/places"><%= @destination_name %></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content">            
        <div class="inner">

          <%  @destination.paragraphs.each do |paragraph|%>
                    <h4><%= paragraph["title"] %></h4>
                    <p> <%= paragraph["content"] %></p>
            <% end %>
		  </div>
         </div>
      </div>
    </div>
  </div>
  </div>
<div style="overflow: hidden; position: absolute; display: none; cursor: move; list-style-type: none; list-style-image: none; list-style-position: outside;" id="dragHelper"></div><div style="position: absolute; height: 1px; width: 1px; top: -1000px; left: -1000px;"><span class="ygtvtm">&nbsp;</span><span class="ygtvtmh">&nbsp;</span><span class="ygtvtp">&nbsp;</span><span class="ygtvtph">&nbsp;</span><span class="ygtvln">&nbsp;</span><span class="ygtvlm">&nbsp;</span><span class="ygtvlmh">&nbsp;</span><span class="ygtvlp">&nbsp;</span><span class="ygtvlph">&nbsp;</span><span class="ygtvloading">&nbsp;</span></div></body></html>